.menu-icons--color {
  fill: $blackColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accentColor;
  }

  @include media(tablet) {
    display: none;
  }
}

.menu-button {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  right: 15px;
  top: 10px;
  margin: 0;
  margin-left: auto;
  margin-bottom: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;

  @include media(tablet) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
