// Text color
$primaryTextColor: #757575;
$titleTextColor: #212121;

// Main color
$accentColor: #2196f3;
$whiteColor: #ffffff;
$blackColor: #000000;
$accentHoverColor: #188ce8;

// Background color
$primaryBackgroundColor: #f5f4fa;
$secondaryBackgroundColor: #2f303a;

// Icon color
$iconCurrentColor: #afb1b8;

// Border color
$headerBorderColor: #ececec;
$portfolioCardsBorder: #eeeeee;

// Font-style
$font-body: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;

// // Flex-box
// $align: center;
// $justify: center;
